gvenv/
*ipynb
*jpg
*JPG
.venv/*
__pycache__
sold_players
teams
unsold_players
venv
cmd.txt
image draw overlay.py
main.py
masterdf.csv
players_data.json
run.py
main.py
.venv
demo
dummy_players
.venv/Lib/site-packages/numpy-2.1.1-cp312-cp312-win_amd64.whl
auction/enrolled_players/Aachal Dhar_#66300_8963612394_Intermediate.jpg
auction/enrolled_players/Aadhya Dave_#70788_7380452554_Advanced.jpg
auction/enrolled_players/Aarav Sha_#27446_7226685101_Advanced.jpg
auction/enrolled_players/Abhimanyu Dugar_#22481_7107955995_Advanced.jpg
auction/enrolled_players/Abhiram Mutti_#56206_7277601215_Intermediate.jpg
auction/enrolled_players/Advay Bhatt_#73651_9120439599_Advanced.jpg
auction/enrolled_players/Adweta Ramaswamy_#96517_9940880358_Intermediate.jpg
auction/enrolled_players/Agastya Brar_#86160_8593770972_Intermediate.jpg
auction/enrolled_players/Aishani Chada_#41913_8776611110_Basic.jpg
auction/enrolled_players/Alka Lalla_#71079_7213945817_Basic.jpg
auction/enrolled_players/Amaira Bahri_#64253_7396474679_Intermediate.jpg
auction/enrolled_players/Ansh Varughese_#16418_8892437948_Advanced.jpg
auction/enrolled_players/Anthony Mannan_#75258_7564462128_Advanced.jpg
auction/enrolled_players/Ayaan Khatri_#85956_8994123126_Basic.jpg
auction/enrolled_players/Azaan Kala_#41877_9289396468_Intermediate.jpg
auction/enrolled_players/Azaan Sant_#75430_8444850314_Basic.jpg
auction/enrolled_players/Azaan Varkey_#48436_9153078187_Basic.jpg
auction/enrolled_players/Bachittar Khurana_#51498_8115603077_Advanced.jpg
auction/enrolled_players/Baghyawati Murty_#71349_7402586340_Intermediate.jpg
auction/enrolled_players/Bakhshi Deshpande_#25056_8059952705_Intermediate.jpg
auction/enrolled_players/Banjeet Gole_#29195_7391434500_Advanced.jpg
auction/enrolled_players/Bimala Patil_#28327_8769598288_Intermediate.jpg
auction/enrolled_players/Chaaya Malhotra_#32613_7051376611_Intermediate.jpg
auction/enrolled_players/Chakrika Chandra_#18717_7958484087_Advanced.jpg
auction/enrolled_players/Chandani Baria_#36977_7936873965_Intermediate.jpg
auction/enrolled_players/Chandani De_#19908_9384637442_Intermediate.jpg
auction/enrolled_players/Charan Singh_#55557_7914988523_Advanced.jpg
auction/enrolled_players/Charita Batra_#53747_9474183512_Basic.jpg
auction/enrolled_players/Chasmum Varty_#95700_9522424073_Intermediate.jpg
auction/enrolled_players/Chatura Tak_#91539_7955612123_Advanced.jpg
auction/enrolled_players/Chavvi Raja_#99746_8429689565_Basic.jpg
auction/enrolled_players/Daksha Badami_#19709_8709442192_Basic.jpg
auction/enrolled_players/Dayamai Dubey_#95353_9194030260_Intermediate.jpg
auction/enrolled_players/Eesha Verma_#20667_8815518131_Advanced.jpg
auction/enrolled_players/Eiravati Bath_#44460_9595885081_Advanced.jpg
auction/enrolled_players/Ekansh Khurana_#80807_8491406009_Advanced.jpg
auction/enrolled_players/Ekansh Sankaran_#18369_9825099154_Intermediate.jpg
auction/enrolled_players/Ekavir Char_#39798_7761430760_Advanced.jpg
auction/enrolled_players/Ekta Parmar_#58897_9312538872_Intermediate.jpg
auction/enrolled_players/Falan Mani_#83763_8206167001_Advanced.jpg
auction/enrolled_players/Finn Khanna_#14153_9878206585_Basic.jpg
auction/enrolled_players/Finn Ram_#38409_8191259090_Intermediate.jpg
auction/enrolled_players/Gabriel Kulkarni_#22913_9350855844_Advanced.jpg
auction/enrolled_players/Ganga Panchal_#26485_9315812321_Advanced.jpg
auction/enrolled_players/Gautami Doshi_#27676_7334496127_Basic.jpg
auction/enrolled_players/Girish Raja_#59824_9987758588_Basic.jpg
auction/enrolled_players/Guneet Char_#73811_7394564341_Basic.jpg
auction/enrolled_players/Guneet Kalita_#75623_7277060757_Advanced.jpg
auction/enrolled_players/Hardik Singh_#25895_9523642384_Basic.jpg
auction/enrolled_players/Henry Bhargava_#39961_7565157241_Basic.jpg
auction/enrolled_players/Inaya Kuruvilla_#84693_7039259297_Intermediate.jpg
auction/enrolled_players/Indali Viswanathan_#92452_8079788172_Intermediate.jpg
auction/enrolled_players/Indira Walla_#90537_7117654992_Basic.jpg
auction/enrolled_players/Indrajit Chopra_#24138_7941307562_Intermediate.jpg
auction/enrolled_players/Ishani Memon_#45533_9868672956_Basic.jpg
auction/enrolled_players/Ishita Muni_#97025_9181283013_Intermediate.jpg
auction/enrolled_players/Ishwar Bhatti_#94894_7327194620_Basic.jpg
auction/enrolled_players/Jagat Prabhu_#20010_9654095018_Intermediate.jpg
auction/enrolled_players/Jagdish Mistry_#73299_7972890390_Basic.jpg
auction/enrolled_players/Jagrati Mand_#20865_8339770408_Intermediate.jpg
auction/enrolled_players/Janya Patil_#56281_7488913572_Basic.jpg
auction/enrolled_players/Jason Atwal_#70715_7828577542_Intermediate.jpg
auction/enrolled_players/Jeet Varughese_#25712_7119190762_Intermediate.jpg
auction/enrolled_players/Jyoti Gour_#40224_9344585064_Advanced.jpg
auction/enrolled_players/Ladli Saxena_#21773_9856757062_Advanced.jpg
auction/enrolled_players/Lakshit Devi_#98034_7646190170_Advanced.jpg
auction/enrolled_players/Libni Suresh_#49141_7698468549_Advanced.jpg
auction/enrolled_players/Lipika Saha_#97705_8178831235_Advanced.jpg
auction/enrolled_players/Lopa Dugal_#80842_7702363610_Intermediate.jpg
auction/enrolled_players/Lopa Patla_#71811_9202651881_Advanced.jpg
auction/enrolled_players/Madhav Bhavsar_#74188_9181339418_Basic.jpg
auction/enrolled_players/Manan Lad_#74289_8323666576_Advanced.jpg
auction/enrolled_players/Manya Hayre_#92507_9899821158_Intermediate.jpg
auction/enrolled_players/Mason Borra_#96459_8545060582_Advanced.jpg
auction/enrolled_players/Max Khanna_#12131_8092398347_Basic.jpg
auction/enrolled_players/Mohammed Mall_#57280_7314358095_Basic.jpg
auction/enrolled_players/Nakul Sethi_#76019_8096601470_Advanced.jpg
auction/enrolled_players/Nicholas Banik_#87477_7553388894_Advanced.jpg
auction/enrolled_players/Niharika Hari_#36515_8147798846_Advanced.jpg
auction/enrolled_players/Ojasvi Din_#22619_7235101752_Intermediate.jpg
auction/enrolled_players/Omisha Dey_#11369_9525088283_Basic.jpg
auction/enrolled_players/Oni Sehgal_#20508_8736399985_Basic.jpg
auction/enrolled_players/Onkar Dhawan_#94192_9507293283_Basic.jpg
auction/enrolled_players/Onkar Sule_#19014_7015145565_Advanced.jpg
auction/enrolled_players/Onveer Luthra_#18423_7304697631_Intermediate.jpg
auction/enrolled_players/Osha Soman_#97863_8600593997_Intermediate.jpg
auction/enrolled_players/Pallavi Tank_#59045_7485931502_Advanced.jpg
auction/enrolled_players/Panini Singhal_#41717_9825924082_Intermediate.jpg
auction/enrolled_players/Peter Rama_#11910_9094435046_Basic.jpg
auction/enrolled_players/Player1_#123_8861421832_Beginner.JPG
auction/enrolled_players/Player2_#456_9886142181_Advanced.JPG
auction/enrolled_players/Player3_489_8861428932_intermediate.JPG
auction/enrolled_players/Player4_#9876_88613421_All round.JPG
auction/enrolled_players/Pranav Ray_#13482_8400177740_Basic.jpg
auction/enrolled_players/Praneel Wable_#26011_8874360746_Advanced.jpg
auction/enrolled_players/Pranit Badami_#58017_8554727604_Intermediate.jpg
auction/enrolled_players/Pratyush Pradhan_#58525_9316188748_Advanced.jpg
auction/enrolled_players/Rachit Dixit_#10353_7387819886_Intermediate.jpg
auction/enrolled_players/Rachita Loyal_#67352_9337632580_Intermediate.jpg
auction/enrolled_players/Radhika Kapur_#75730_9592927194_Basic.jpg
auction/enrolled_players/Rajeshri Natt_#74681_7152569738_Intermediate.jpg
auction/enrolled_players/Rehaan Nayak_#36280_7628864489_Basic.jpg
auction/enrolled_players/Ridhi Radhakrishnan_#35836_7874400611_Basic.jpg
auction/enrolled_players/Saanvi Chad_#64721_9776463058_Advanced.jpg
auction/enrolled_players/Sanaya Chaudhary_#79746_7626091840_Basic.jpg
auction/enrolled_players/Tanish Bhattacharyya_#73163_8300452790_Intermediate.jpg
auction/enrolled_players/Tanveer Munshi_#74921_8414415557_Basic.jpg
auction/enrolled_players/Tanveer Uppal_#89454_7421488259_Advanced.jpg
auction/enrolled_players/Thomas Srinivasan_#15895_8772945806_Basic.jpg
auction/enrolled_players/Tripti Mann_#98053_7319128025_Intermediate.jpg
auction/enrolled_players/Tripti Nanda_#68470_8241826907_Basic.jpg
auction/enrolled_players/Triveni Sangha_#82707_9739767751_Advanced.jpg
auction/enrolled_players/Ubika Luthra_#71848_9993331865_Intermediate.jpg
auction/enrolled_players/Udarsh Gaba_#54157_9583823272_Advanced.jpg
auction/enrolled_players/Udyati Lad_#71703_8255887448_Intermediate.jpg
auction/enrolled_players/Umang Aggarwal_#91751_7941750373_Intermediate.jpg
auction/enrolled_players/Unnati Luthra_#43106_9589654775_Intermediate.jpg
auction/enrolled_players/Unni Badami_#86512_8984115405_Basic.jpg
auction/enrolled_players/Unni Kulkarni_#81154_7409201104_Intermediate.jpg
auction/enrolled_players/Urishilla Dhar_#15529_8856354513_Intermediate.jpg
auction/enrolled_players/Urishilla Samra_#78967_8978155738_Intermediate.jpg
auction/enrolled_players/Urvashi Gandhi_#73704_9293765478_Intermediate.jpg
auction/enrolled_players/Urvashi Gopal_#16992_8661186958_Intermediate.jpg
auction/enrolled_players/Urvashi Lanka_#30350_7108641917_Basic.jpg
auction/enrolled_players/Vaishnavi Khalsa_#58085_7496655474_Advanced.jpg
auction/enrolled_players/Vamakshi Kale_#52641_7388036136_Basic.jpg
auction/enrolled_players/Vanya Krishnan_#37980_8240740594_Basic.jpg
auction/enrolled_players/Vasana Pingle_#36943_7913254404_Advanced.jpg
auction/enrolled_players/Vasatika Deol_#16423_7157063650_Intermediate.jpg
auction/enrolled_players/Vasatika Gala_#21526_9242806094_Basic.jpg
auction/enrolled_players/Vasatika Savant_#34461_8347761801_Intermediate.jpg
auction/enrolled_players/Victor Goyal_#22630_9374813740_Intermediate.jpg
auction/enrolled_players/Victor Menon_#38215_8236978871_Basic.jpg
auction/enrolled_players/Viraj Bal_#30053_9829293295_Basic.jpg
auction/enrolled_players/Vivaan Rattan_#75256_9813097748_Advanced.jpg
auction/enrolled_players/Warinder Bali_#11331_9564760976_Basic.jpg
auction/enrolled_players/Wazir Gara_#48268_9930256778_Intermediate.jpg
auction/enrolled_players/William Batta_#39406_7877088368_Basic.jpg
auction/enrolled_players/William Keer_#38556_7516835241_Advanced.jpg
auction/enrolled_players/William Shroff_#96427_9511604356_Intermediate.jpg
auction/enrolled_players/Wriddhish Nagar_#16494_8603310453_Intermediate.jpg
auction/enrolled_players/Wyatt Tandon_#93351_9613406056_Advanced.jpg
auction/enrolled_players/Yachana Bhardwaj_#27553_9012010110_Basic.jpg
auction/enrolled_players/Yachana Sha_#24046_9587418316_Advanced.jpg
auction/enrolled_players/Yashasvi Subramaniam_#87602_8409724072_Intermediate.jpg
auction/enrolled_players/Yashoda Malhotra_#29970_9546674063_Basic.jpg
auction/enrolled_players/Yashodhara Krishnamurthy_#87306_8645000509_Advanced.jpg
auction/enrolled_players/Yashodhara Sastry_#15714_9332918670_Basic.jpg
auction/enrolled_players/Yashvi Brahmbhatt_#29917_8903074278_Intermediate.jpg
auction/enrolled_players/Yasti Barad_#27837_8220390596_Intermediate.jpg
auction/enrolled_players/Yasti Dube_#48878_9869329594_Basic.jpg
auction/enrolled_players/Yochana Acharya_#12016_8406589590_Advanced.jpg
auction/enrolled_players/Zehaan Pal_#15522_9327184590_Intermediate.jpg
auction/enrolled_players/Zinal Swamy_#69405_8200232182_Advanced.jpg
auction/enrolled_players/Player1_#123_8861421832_Beginner.JPG
auction/enrolled_players/Player2_#456_9886142181_Advanced.JPG
auction/enrolled_players/Player3_489_8861428932_intermediate.JPG
auction/enrolled_players/Player4_#9876_88613421_All round.JPG
auction/structure.txt
auction/enrolled_players/Player1_#123_8861421832_Beginner.JPG
auction/enrolled_players/Player2_#456_9886142181_Advanced.JPG
auction/enrolled_players/Player3_489_8861428932_intermediate.JPG
auction/enrolled_players/Player4_#9876_88613421_All round.JPG
google_drive/outh_client_secret.json
auction/testai.py
auction/config.YAML
auction/.vscode/extensions.json
portfolio/.vscode/settings.json
*.ipynb_checkpoints
