gvenv/
*ipynb
*jpg
*JPG
.venv/*
__pycache__
sold_players
teams
unsold_players
venv
cmd.txt
image draw overlay.py
main.py
masterdf.csv
players_data.json
run.py
main.py
.venv
demo
dummy_players
*jpeg
google_drive/outh_client_secret.json
auction/testai.py
auction/config.YAML
auction/.vscode/extensions.json
portfolio/.vscode/settings.json
*.ipynb_checkpoints
google_drive/EventRegistration.csv
auction/structure.txt
